html, body{
    margin:0;
    padding:0;
    min-width: 1140px; /* this is the important part*/
}

.header-bar{
  background-color: #6E7DAB;
    height: 50px;
}

.footer{
    background-color: #32292F;
    color:whitesmoke;
    height:100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.main-body{
    color:black;
}